<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

# Assignment: Exploratory Data Analysis with SQL
Estimated time needed: 60 minutes


# Introduction
Using this R notebook you will perform exploratory data analysis using SQL queries with the RSQLite R package. You will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your SQL Lite connection

#### Install RSQLite package
The RSQlite  package needs to be installed in your notebook. Letâ€™s load the RSQLite package by clicking on the following cell and executing it (Shift+Enter):

In [1]:
install.packages("https://cran.r-project.org/src/contrib/Archive/RSQLite/RSQLite_0.10.0.tar.gz", repos = NULL, type = "source", dependencies = TRUE)

#### Restart Kernel

After installing the RSQLite package, it is necessary to restart R Kernel. Click **Kernel** > **Restart Kernel** from the main menu. This will register the newly installed packages. Now proceed to load the RSQLite package.

#### Load RSQLite
Load the 'RSQLite' library, and use the 'dbConnect( )' function as you did in the previous labs to establish the connection to your SQLite database.  
You are now ready to start running SQL queries using the RSQLite library as you did in Course 3.

In [1]:
library("RSQLite")

Loading required package: DBI

In [2]:
# provide your solution here to connect db
# Create a connection to the SQLite database
con <- dbConnect(RSQLite::SQLite(), "my_database.db")

# List tables in the database
dbListTables(con)

character(0)

Download the following csv files:

*   [WORLD_CITIES](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv)

*   [BIKE_SHARING_SYSTEMS](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv)

*   [CITIES_WEATHER_FORECAST](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv)

*   [SEOUL_BIKE_SHARING](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv)

and load the csv's  into 4 tables as mentioned below
* SEOUL_BIKE_SHARING

* CITIES_WEATHER_FORECAST

* BIKE_SHARING_SYSTEMS 

*  WORLD_CITIES

> Hint : Use the read_csv() function and dbWriteTable() functions


## Task 1 - Record Count
#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [2]:
getwd()  # Check your current working directory

[1] "/resources/RP0321EN/labs/FinalRSQLite"

In [3]:
# Download files to your working directory
download.file(
  "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv", 
  destfile = "seoul_bike_sharing.csv"
)

download.file(
  "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv", 
  destfile = "cities_weather_forecast.csv"
)

download.file(
  "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv", 
  destfile = "bike_sharing_systems.csv"
)

download.file(
  "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv", 
  destfile = "world_cities.csv"
)

In [4]:
# provide your solution here
# Install readr if not already installed
if (!requireNamespace("readr", quietly = TRUE)) {
  install.packages("readr")
}

# Load the required libraries
library(RSQLite)
library(readr)  # Provides the read_csv() function

# Create a connection to the SQLite database
con <- dbConnect(RSQLite::SQLite(), "my_database.db")

# Load CSV files into data frames
seoul_bike_sharing <- read_csv("seoul_bike_sharing.csv")
cities_weather_forecast <- read_csv("cities_weather_forecast.csv")
bike_sharing_systems <- read_csv("bike_sharing_systems.csv")
world_cities <- read_csv("world_cities.csv")

# Write the data frames to SQLite tables
dbWriteTable(con, "SEOUL_BIKE_SHARING", seoul_bike_sharing, overwrite = TRUE)
dbWriteTable(con, "CITIES_WEATHER_FORECAST", cities_weather_forecast, overwrite = TRUE)
dbWriteTable(con, "BIKE_SHARING_SYSTEMS", bike_sharing_systems, overwrite = TRUE)
dbWriteTable(con, "WORLD_CITIES", world_cities, overwrite = TRUE)

# Verify tables were added successfully
print(dbListTables(con))

Parsed with column specification:
cols(
  DATE = col_character(),
  RENTED_BIKE_COUNT = col_double(),
  HOUR = col_double(),
  TEMPERATURE = col_double(),
  HUMIDITY = col_double(),
  WIND_SPEED = col_double(),
  VISIBILITY = col_double(),
  DEW_POINT_TEMPERATURE = col_double(),
  SOLAR_RADIATION = col_double(),
  RAINFALL = col_double(),
  SNOWFALL = col_double(),
  SEASONS = col_character(),
  HOLIDAY = col_character(),
  FUNCTIONING_DAY = col_character()
)
Parsed with column specification:
cols(
  CITY = col_character(),
  WEATHER = col_character(),
  VISIBILITY = col_double(),
  TEMP = col_double(),
  TEMP_MIN = col_double(),
  TEMP_MAX = col_double(),
  PRESSURE = col_double(),
  HUMIDITY = col_double(),
  WIND_SPEED = col_double(),
  WIND_DEG = col_double(),
  SEASON = col_character(),
  FORECAST_DATETIME = col_datetime(format = "")
)
Parsed with column specification:
cols(
  COUNTRY = col_character(),
  CITY = col_character(),
  SYSTEM = col_character(),
  BICYCLES = col_double()
)
Parsed with column specification:
cols(
  CITY = col_character(),
  CITY_ASCII = col_character(),
  LAT = col_double(),
  LNG = col_double(),
  COUNTRY = col_character(),
  ISO2 = col_character(),
  ISO3 = col_character(),
  ADMIN_NAME = col_character(),
  CAPITAL = col_character(),
  POPULATION = col_double(),
  ID = col_double()
)

[1] TRUE

[1] TRUE

[1] TRUE

[1] TRUE

[1] "BIKE_SHARING_SYSTEMS"    "CITIES_WEATHER_FORECAST"
[3] "SEOUL_BIKE_SHARING"      "WORLD_CITIES"

In [5]:
# SQL query to get the record count from the SEOUL_BIKE_SHARING table
record_count <- dbGetQuery(con, "SELECT COUNT(*) AS total_records FROM SEOUL_BIKE_SHARING")

# Print the result
print(record_count)

  total_records
1          8465

## Task 2 - Operational Hours
#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [8]:
# Get the column names of the SEOUL_BIKE_SHARING table
columns <- dbGetQuery(con, "PRAGMA table_info(SEOUL_BIKE_SHARING)")

# Print the column names to identify any issues
print(columns)

   cid                  name type notnull dflt_value pk
1    0             row_names TEXT       0       <NA>  0
2    1                  DATE TEXT       0       <NA>  0
3    2     RENTED_BIKE_COUNT REAL       0       <NA>  0
4    3                  HOUR REAL       0       <NA>  0
5    4           TEMPERATURE REAL       0       <NA>  0
6    5              HUMIDITY REAL       0       <NA>  0
7    6            WIND_SPEED REAL       0       <NA>  0
8    7            VISIBILITY REAL       0       <NA>  0
9    8 DEW_POINT_TEMPERATURE REAL       0       <NA>  0
10   9       SOLAR_RADIATION REAL       0       <NA>  0
11  10              RAINFALL REAL       0       <NA>  0
12  11              SNOWFALL REAL       0       <NA>  0
13  12               SEASONS TEXT       0       <NA>  0
14  13               HOLIDAY TEXT       0       <NA>  0
15  14       FUNCTIONING_DAY TEXT       0       <NA>  0

In [9]:
# provide your solution here
# SQL query to count the number of hours with non-zero rented bike count
non_zero_hours <- dbGetQuery(
  con, 
  "SELECT COUNT(*) AS operational_hours 
   FROM SEOUL_BIKE_SHARING 
   WHERE `RENTED_BIKE_COUNT` > 0"
)

# Print the result
print(non_zero_hours)

  operational_hours
1              8465

## Task 3 - Weather Outlook
#### Query the the weather forecast for Seoul over the next 3 hours.
Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [11]:
# Get the column names of the CITIES_WEATHER_FORECAST table
columns_weather <- dbGetQuery(con, "PRAGMA table_info(CITIES_WEATHER_FORECAST)")

# Print the column names to identify any issues
print(columns_weather)

   cid              name type notnull dflt_value pk
1    0         row_names TEXT       0       <NA>  0
2    1              CITY TEXT       0       <NA>  0
3    2           WEATHER TEXT       0       <NA>  0
4    3        VISIBILITY REAL       0       <NA>  0
5    4              TEMP REAL       0       <NA>  0
6    5          TEMP_MIN REAL       0       <NA>  0
7    6          TEMP_MAX REAL       0       <NA>  0
8    7          PRESSURE REAL       0       <NA>  0
9    8          HUMIDITY REAL       0       <NA>  0
10   9        WIND_SPEED REAL       0       <NA>  0
11  10          WIND_DEG REAL       0       <NA>  0
12  11            SEASON TEXT       0       <NA>  0
13  12 FORECAST_DATETIME TEXT       0       <NA>  0

In [12]:
# provide your solution here
# SQL query to get the first weather forecast record for Seoul
seoul_weather <- dbGetQuery(
  con, 
  "SELECT * 
   FROM CITIES_WEATHER_FORECAST 
   WHERE city = 'Seoul' 
   ORDER BY FORECAST_DATETIME ASC 
   LIMIT 1"
)

# Print the result
print(seoul_weather)

  row_names  CITY WEATHER VISIBILITY  TEMP TEMP_MIN TEMP_MAX PRESSURE HUMIDITY
1         1 Seoul   Clear      10000 12.32    10.91    12.32     1015       50
  WIND_SPEED WIND_DEG SEASON FORECAST_DATETIME
1       2.18      248 Spring      1618574400.0

## Task 4 - Seasons
#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [14]:
# Get the column names of the SEOUL_BIKE_SHARING table
columns_bike_sharing <- dbGetQuery(con, "PRAGMA table_info(SEOUL_BIKE_SHARING)")

# Print the column names to identify any issues
print(columns_bike_sharing)

   cid                  name type notnull dflt_value pk
1    0             row_names TEXT       0       <NA>  0
2    1                  DATE TEXT       0       <NA>  0
3    2     RENTED_BIKE_COUNT REAL       0       <NA>  0
4    3                  HOUR REAL       0       <NA>  0
5    4           TEMPERATURE REAL       0       <NA>  0
6    5              HUMIDITY REAL       0       <NA>  0
7    6            WIND_SPEED REAL       0       <NA>  0
8    7            VISIBILITY REAL       0       <NA>  0
9    8 DEW_POINT_TEMPERATURE REAL       0       <NA>  0
10   9       SOLAR_RADIATION REAL       0       <NA>  0
11  10              RAINFALL REAL       0       <NA>  0
12  11              SNOWFALL REAL       0       <NA>  0
13  12               SEASONS TEXT       0       <NA>  0
14  13               HOLIDAY TEXT       0       <NA>  0
15  14       FUNCTIONING_DAY TEXT       0       <NA>  0

In [15]:
# provide your solution here
# SQL query to find distinct seasons in the SEOUL_BIKE_SHARING dataset
unique_seasons <- dbGetQuery(con, "SELECT DISTINCT SEASONS FROM SEOUL_BIKE_SHARING")

# Print the result
print(unique_seasons)

  SEASONS
1  Winter
2  Spring
3  Summer
4  Autumn

## Task 5 - Date Range
#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [16]:
# provide your solution here
# Get the column names of the SEOUL_BIKE_SHARING table
columns_bike_sharing <- dbGetQuery(con, "PRAGMA table_info(SEOUL_BIKE_SHARING)")

# Print the column names to identify any issues
print(columns_bike_sharing)

   cid                  name type notnull dflt_value pk
1    0             row_names TEXT       0       <NA>  0
2    1                  DATE TEXT       0       <NA>  0
3    2     RENTED_BIKE_COUNT REAL       0       <NA>  0
4    3                  HOUR REAL       0       <NA>  0
5    4           TEMPERATURE REAL       0       <NA>  0
6    5              HUMIDITY REAL       0       <NA>  0
7    6            WIND_SPEED REAL       0       <NA>  0
8    7            VISIBILITY REAL       0       <NA>  0
9    8 DEW_POINT_TEMPERATURE REAL       0       <NA>  0
10   9       SOLAR_RADIATION REAL       0       <NA>  0
11  10              RAINFALL REAL       0       <NA>  0
12  11              SNOWFALL REAL       0       <NA>  0
13  12               SEASONS TEXT       0       <NA>  0
14  13               HOLIDAY TEXT       0       <NA>  0
15  14       FUNCTIONING_DAY TEXT       0       <NA>  0

In [17]:
# Replace `date_column_name` with the actual name of your date column
date_range <- dbGetQuery(con, "
  SELECT MIN(DATE) AS first_date, 
         MAX(DATE) AS last_date 
  FROM SEOUL_BIKE_SHARING
")

# Print the result
print(date_range)

  first_date  last_date
1 01/01/2018 31/12/2017

## Task 6 - Subquery - 'all-time high'
#### determine which date and hour had the most bike rentals.

### Solution 6

In [20]:
# Get the column names of the SEOUL_BIKE_SHARING table
columns_bike_sharing <- dbGetQuery(con, "PRAGMA table_info(SEOUL_BIKE_SHARING)")

# Print the column names to identify any issues
print(columns_bike_sharing)

   cid                  name type notnull dflt_value pk
1    0             row_names TEXT       0       <NA>  0
2    1                  DATE TEXT       0       <NA>  0
3    2     RENTED_BIKE_COUNT REAL       0       <NA>  0
4    3                  HOUR REAL       0       <NA>  0
5    4           TEMPERATURE REAL       0       <NA>  0
6    5              HUMIDITY REAL       0       <NA>  0
7    6            WIND_SPEED REAL       0       <NA>  0
8    7            VISIBILITY REAL       0       <NA>  0
9    8 DEW_POINT_TEMPERATURE REAL       0       <NA>  0
10   9       SOLAR_RADIATION REAL       0       <NA>  0
11  10              RAINFALL REAL       0       <NA>  0
12  11              SNOWFALL REAL       0       <NA>  0
13  12               SEASONS TEXT       0       <NA>  0
14  13               HOLIDAY TEXT       0       <NA>  0
15  14       FUNCTIONING_DAY TEXT       0       <NA>  0

In [22]:
# SQL query to find the date and hour with the most bike rentals
all_time_high <- dbGetQuery(con, "
  SELECT DATE, HOUR, RENTED_BIKE_COUNT
  FROM SEOUL_BIKE_SHARING
  WHERE RENTED_BIKE_COUNT = (
    SELECT MAX(RENTED_BIKE_COUNT)
    FROM SEOUL_BIKE_SHARING
  )
")

# Print the result
print(all_time_high)

        DATE HOUR RENTED_BIKE_COUNT
1 19/06/2018   18              3556

## Task 7 - Hourly popularity and temperature by season
#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [23]:
# provide your solution here
# SQL query to calculate average temperature and bike rentals per hour by season
avg_hourly_popularity_temp <- dbGetQuery(con, "
  SELECT SEASONS,
         AVG(TEMPERATURE) AS avg_temperature,
         AVG(RENTED_BIKE_COUNT) AS avg_bike_count
  FROM SEOUL_BIKE_SHARING
  GROUP BY SEASONS
  ORDER BY avg_bike_count DESC
  LIMIT 10
")

# Print the result
print(avg_hourly_popularity_temp)

  SEASONS avg_temperature avg_bike_count
1  Summer       26.587711      1034.0734
2  Autumn       13.821580       924.1105
3  Spring       13.021685       746.2542
4  Winter       -2.540463       225.5412

## Task 8 - Rental Seasonality
#### Find the average hourly bike count during each season. 
Also include the minimum, maximum, and standard deviation of the hourly bike count for each season. 

> Hint : Use the SQRT(AVG(col*col) - AVG(col)*AVG(col) ) function where col refers to your column name for finding the standard deviation

### Solution 8

In [27]:
# provide your solution here
# SQL query to calculate average, min, max, and standard deviation of bike rentals per season
rental_seasonality <- dbGetQuery(con, "
  SELECT SEASONS,
         AVG(RENTED_BIKE_COUNT) AS avg_bike_count,
         MIN(RENTED_BIKE_COUNT) AS min_bike_count,
         MAX(RENTED_BIKE_COUNT) AS max_bike_count,
         (AVG(RENTED_BIKE_COUNT * RENTED_BIKE_COUNT) - AVG(RENTED_BIKE_COUNT) * AVG(RENTED_BIKE_COUNT)) AS variance,
         (SELECT
             (AVG(RENTED_BIKE_COUNT * RENTED_BIKE_COUNT) - AVG(RENTED_BIKE_COUNT) * AVG(RENTED_BIKE_COUNT)) 
          FROM SEOUL_BIKE_SHARING WHERE SEASONS = s.SEASONS) AS variance
  FROM SEOUL_BIKE_SHARING AS s
  GROUP BY SEASONS
")

# Calculate the standard deviation separately in R, as SQRT cannot be used in SQLite
rental_seasonality$stddev_bike_count <- sqrt(rental_seasonality$variance)

# Remove the variance column
rental_seasonality$variance <- NULL

# Print the result
print(rental_seasonality)

  SEASONS avg_bike_count min_bike_count max_bike_count  variance
1  Autumn       924.1105              2           3298 381168.50
2  Spring       746.2542              2           3251 382572.85
3  Summer      1034.0734              9           3556 476222.05
4  Winter       225.5412              3            937  22601.34
  stddev_bike_count
1          617.3885
2          618.5247
3          690.0884
4          150.3374

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality
#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?
Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [28]:
# provide your solution here
# SQL query to calculate average weather metrics and average bike count per season
weather_seasonality <- dbGetQuery(con, "
  SELECT 
      SEASONS,
      AVG(TEMPERATURE) AS avg_temperature,
      AVG(HUMIDITY) AS avg_humidity,
      AVG(WIND_SPEED) AS avg_wind_speed,
      AVG(VISIBILITY) AS avg_visibility,
      AVG(DEW_POINT_TEMPERATURE) AS avg_dew_point_temperature,
      AVG(SOLAR_RADIATION) AS avg_solar_radiation,
      AVG(RAINFALL) AS avg_rainfall,
      AVG(SNOWFALL) AS avg_snowfall,
      AVG(RENTED_BIKE_COUNT) AS avg_bike_count
  FROM 
      SEOUL_BIKE_SHARING
  GROUP BY 
      SEASONS
  ORDER BY 
      avg_bike_count DESC
")

# Print the result
print(weather_seasonality)

  SEASONS avg_temperature avg_humidity avg_wind_speed avg_visibility
1  Summer       26.587711     64.98143       1.609420       1501.745
2  Autumn       13.821580     59.04491       1.492101       1558.174
3  Spring       13.021685     58.75833       1.857778       1240.912
4  Winter       -2.540463     49.74491       1.922685       1445.987
  avg_dew_point_temperature avg_solar_radiation avg_rainfall avg_snowfall
1                 18.750136           0.7612545   0.25348732   0.00000000
2                  5.150594           0.5227827   0.11765617   0.06350026
3                  4.091389           0.6803009   0.18694444   0.00000000
4                -12.416667           0.2981806   0.03282407   0.24750000
  avg_bike_count
1      1034.0734
2       924.1105
3       746.2542
4       225.5412

## Task 10 - Total Bike Count and City Info for Seoul
#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.
Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [ ]:
WORLD_CITIES

BIKE_SHARING_SYSTEMS

CITIES_WEATHER_FORECAST

SEOUL_BIKE_SHARING

In [41]:
tables <- dbGetQuery(con, "SELECT name FROM sqlite_master WHERE type='table';")
print(tables)

                     name
1      SEOUL_BIKE_SHARING
2 CITIES_WEATHER_FORECAST
3    BIKE_SHARING_SYSTEMS
4            WORLD_CITIES

In [50]:
schema <- dbGetQuery(con, "PRAGMA table_info(WORLD_CITIES);")
print(schema)

   cid       name type notnull dflt_value pk
1    0  row_names TEXT       0       <NA>  0
2    1       CITY TEXT       0       <NA>  0
3    2 CITY_ASCII TEXT       0       <NA>  0
4    3        LAT REAL       0       <NA>  0
5    4        LNG REAL       0       <NA>  0
6    5    COUNTRY TEXT       0       <NA>  0
7    6       ISO2 TEXT       0       <NA>  0
8    7       ISO3 TEXT       0       <NA>  0
9    8 ADMIN_NAME TEXT       0       <NA>  0
10   9    CAPITAL TEXT       0       <NA>  0
11  10 POPULATION REAL       0       <NA>  0
12  11         ID REAL       0       <NA>  0

In [52]:
# provide your solution here
# Query to get total bike count and city info for Seoul
query <- "
SELECT 
    wc.CITY,
    wc.COUNTRY,
    wc.LAT,
    wc.LNG,
    wc.POPULATION,
    bss.BICYCLES AS total_bikes
FROM 
    WORLD_CITIES wc
JOIN 
    BIKE_SHARING_SYSTEMS bss ON wc.CITY_ASCII = bss.CITY
WHERE 
    wc.CITY = 'Seoul';


"

# Execute the query
result <- dbGetQuery(con, query)

# Print the result
print(result)

   CITY      COUNTRY     LAT LNG POPULATION total_bikes
1 Seoul Korea, South 37.5833 127   21794000       20000

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system
#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.
Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [57]:
query <- "
SELECT 
    wc.CITY AS city_name,
    wc.COUNTRY AS country_name,
    wc.LAT AS latitude,
    wc.LNG AS longitude,  -- Change this to LON
    wc.POPULATION AS population,
    bss.BICYCLES AS total_bikes
FROM 
    WORLD_CITIES wc
JOIN 
    BIKE_SHARING_SYSTEMS bss 
ON 
    wc.CITY_ASCII = bss.CITY
WHERE 
    bss.BICYCLES BETWEEN 15000 AND 20000;
"

result <- dbGetQuery(con, query)
print(result)

  city_name country_name latitude longitude population total_bikes
1   Beijing        China  39.9050  116.3914   19433000       16000
2    Ningbo        China  29.8750  121.5492    7639000       15000
3  Shanghai        China  31.1667  121.4667   22120000       19165
4   Weifang        China  36.7167  119.1000    9373000       20000
5     Xiâ€™an        China  34.2667  108.9000    7135000       20000
6   Zhuzhou        China  27.8407  113.1469    3855609       20000
7     Seoul Korea, South  37.5833  127.0000   21794000       20000

In [60]:
dbDisconnect(con)  # This closes the database connection

[1] TRUE

## Author(s)

<h4> Jeff Grossman </h4>
<h4> Lakshmi Holla </h4>


## Other Contributor(s)

<h4>  Malika Singla </h4>

<!--## Change log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2022-03-03        | 1.0     |Lakshmi Holla  | Created lab using sqlite3          |-->

## <h3 align="center"> Â© IBM Corporation 2022. All rights reserved. <h3/>